# Flet & Python Build Artifacts
__pycache__/
*.pyc
build/
dist/
*.spec

# Banco de Dados SQLite (Não comitar dados reais da rede)
*.db
*.db-wal
*.db-shm
*.db-journal

# Ambientes / Chaves
.env
.venv/
venv/
env/
